/* Breakpoints */

@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin input_select {
    border: 1px solid $secondary;
    background-color: $secondary;
    border-radius: 5px;
    width: 250px;
    margin: auto;
    padding: 10px 10px;
    box-sizing: border-box;
}