form {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: auto;
    margin-bottom: 10px;

    label,
    legend,
    option {
        text-align: left !important;
        display: flex;
        flex-direction: column;
    }

    label>span {
        display: contents;
    }

    &>div {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
        padding: 0 25px;
    }

    fieldset {
        padding: 0 25px;
        margin: 5px auto;
        border: 1px solid lighten($primary, 50%);

        &>div {
            margin: 5px 0;
        }
    }
}